.frameChild {
  border: 0;
  outline: 0;
  background-color: var(--color-thistle);
  position: absolute;
  top: 49px;
  left: 65px;
  border-radius: var(--br-lg) var(--br-8xs) var(--br-3xs) var(--br-8xs);
  width: 50px;
  height: 49px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  z-index: 1;
}
.rectangleParent {
  height: 49px;
  flex: 1;
  position: relative;
}
.icon {
  width: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.helpWithCooking {
  margin: 0;
  width: 231px;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.volunteersCanHelp {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-body-3-size);
  line-height: 20px;
  color: var(--neutral-grey);
}
.helpWithCookingParent,
.nationalAssociations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.helpWithCookingParent {
  align-self: stretch;
  gap: 8px 0;
}
.nationalAssociations {
  width: 299px;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  box-shadow: 0 2px 4px rgba(171, 190, 209, 0.2);
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: 16px 0;
}
.text,
.textWrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.text {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-126xl) 0 var(--padding-125xl);
  gap: var(--gap-xl);
}
.textWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  text-align: center;
  font-size: var(--heading-headline-3-size);
  color: var(--neutral-d-grey);
  font-family: var(--body-regular-body-3);
}
@media screen and (max-width: 1325px) {
  .text {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .text {
    padding-left: var(--padding-53xl);
    padding-right: var(--padding-53xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .helpWithCooking {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .text {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
