.appleOfMy {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
  z-index: 1;
}
.logo {
  height: 24px;
  width: 178px;
  display: none;
}
.label {
  position: relative;
  line-height: 24px;
}
.label1 {
  font-weight: 500;
}
.label1,
.label2,
.label3 {
  position: relative;
  line-height: 24px;
}
.label3 {
  font-weight: 600;
  color: var(--main-foreground);
}
.innerFrame,
.labelParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.labelParent {
  width: 351px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-medium-body-2-size);
  color: var(--text-gray-900);
}
.innerFrame {
  align-self: stretch;
  background-color: var(--neutral-silver);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-125xl);
  box-sizing: border-box;
  gap: 0 485px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--heading-headline-4-size);
  color: var(--main-foreground);
  font-family: var(--body-regular-body-3);
}

@media screen and (max-width: 1920px) {
  .innerFrameDiv {
    background-color:var(--neutral-silver) ;
    display: block;
  }
  .innerFrame {
    gap: 0 485px;
    padding-left: var(--padding-53xl);
    padding-right: var(--padding-53xl);
    box-sizing: border-box;
    margin-left: 250px;
    background-color:var(--neutral-silver) ;
    overflow: hidden;
    justify-content: flex-start;
    padding: var(--padding-11xl) var(--padding-125xl);
    box-sizing: border-box;
    gap: 0 485px;
    top: 0;
    z-index: 99;
    position: sticky;
    text-align: left;
    font-size: var(--heading-headline-4-size);
    color: var(--main-foreground);
    font-family: var(--body-regular-body-3);
  }

}

@media screen and (max-width: 1325px) {
  .innerFrame {
    gap: 0 485px;
    padding-left: var(--padding-53xl);
    padding-right: var(--padding-53xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .appleOfMy {
    display: none;
  }
  .innerFrame {
    gap: 0 485px;
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .labelParent {
    display: none;
  }
  .innerFrame {
    gap: 0 485px;
  }
}
