.unlockChild {
  height: 433px;
  width: 442px;
  position: relative;
  max-width: 100%;
}
.whenJoiningThe {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.provideAssistanceTo {
  margin: 0;
  }
.provideAssistanceToContainer {
  margin: 0;
  height: 93px;
  position: relative;
  font-size: var(--heading-headline-2-size);
  line-height: 44px;
  font-weight: 600;
  font-family: inherit;
  color: var(--neutral-d-grey);
  display: inline-block;
  flex-shrink: 0;
  max-width: 103%;
}
.whenJoiningThe1 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  margin-top: 35px;
}
.millionBlind {
  width: 601px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0;
  max-width: 100%;
}
.label {
  position: relative;
  font-size: var(--body-medium-body-2-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-regular-body-3);
  color: var(--neutral-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-11xl);
  background-color: var(--main-foreground);
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-mediumpurple);
}
.millionBlindParent {
  width: 661px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px 0;
  min-width: 661px;
  max-width: 100%;
}
.sectionHeading,
.unlock,
.unlock1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.unlock1 {
  width: 1440px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-125xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.sectionHeading,
.unlock {
  justify-content: flex-start;
}
.unlock {
  overflow-x: auto;
  align-items: center;
  min-height: 574px;
}
.sectionHeading {
  align-items: flex-start;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-regular-body-3-size);
  color: var(--neutral-grey);
  font-family: var(--body-regular-body-3);
}

@media screen and (max-width: 1920px) {
  .sectionHeading {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .unlock {
    max-width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .millionBlindParent,
  .unlockChild {
    flex: 1;
  }
  .unlock1 {
    flex-wrap: wrap;
    padding-left: var(--padding-53xl);
    padding-right: var(--padding-53xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .millionBlindParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .provideAssistanceToContainer {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .millionBlindParent {
    gap: 32px 0;
  }
  .unlock1 {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .provideAssistanceToContainer {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
}
